
   <manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.umroh.iterator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    
    <application
        android:icon="@drawable/iterator_logo"
        android:theme="@style/AppTheme"
        android:label="@string/app_name" 
        android:debuggable="true"
       >
        <activity
            android:name=".MainMenuAct"
            android:theme="@style/CustomTheme"
            android:label="@string/app_name"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraPreview"
            android:screenOrientation="landscape">
            
        </activity>
        
     
        <activity
            android:theme="@style/CustomTheme"
            android:name=".Tentang"
            android:label="">
            
        </activity>
       
         <activity
            android:theme="@style/CustomTheme"
            android:name=".InputMode"
            android:label="">
            
        </activity>
        <activity
            android:theme="@style/CustomTheme"
            android:name=".LanguagePref"
            android:label=""></activity>
    </application>

</manifest>